<div class="container2">


    <div class="container">
        <br />
        <div class="row justify-content-center search_divv">
          <div class="col-12 col-md-10 col-lg-8">
            <form (submit)="onSearch(); $event.preventDefault();" class="card card-sm">
              <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                  <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input 
                      class="form-control form-control-lg form-control-borderless" 
                      type="search" 
                      name="search"
                      placeholder="Search users or keywords" 
                      [(ngModel)]="searchTerm"
                      (input)="onSearch()"
                    />
                  </div>
                <div class="col-auto">
                  <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <div class="container">
        <h2>User List</h2>
        <table class="user-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Username</th>
              <th>Phone</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredUsers">
              <td>{{ user.id }}</td>
              <td>{{ user.name.firstname }} {{ user.name.lastname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.address.city }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>